<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FEELYOU"
        tools:targetApi="31">
        <activity
            android:name=".ActivityDiario"
            android:exported="false" />
        <activity
            android:name=".ActivityVerDiarios"
            android:exported="false" />
        <activity
            android:name=".ActivityFormularioGuia"
            android:exported="false" />
        <activity
            android:name=".ActivityGuiaDos"
            android:exported="false" />
        <activity
            android:name=".ActivityEjercicioGuiado"
            android:exported="false" />
        <activity
            android:name=".ActivityFormularioMeditacion"
            android:exported="false" />
        <activity
            android:name=".activity_ejercicio_meditacionsegunda"
            android:exported="false" />
        <activity
            android:name=".activity_ejercicio_meditacion"
            android:exported="false" />
        <activity
            android:name=".VideoEjercicio3"
            android:exported="false" />
        <activity
            android:name=".VideoEjercicio2"
            android:exported="false" />
        <activity
            android:name=".VideoEjercicio1"
            android:exported="false" />
        <activity
            android:name=".ActivityFormulario"
            android:exported="false" />
        <activity
            android:name=".ejercicios"
            android:exported="false" />
        <activity
            android:name=".Activity_calendario"
            android:exported="false" />
        <activity
            android:name=".Activity_videos"
            android:exported="false" />
        <activity
            android:name=".Activity_libros"
            android:exported="false" />
        <activity
            android:name=".Activity_Recursos"
            android:exported="false" />
        <activity
            android:name=".subirmusic"
            android:exported="false" />
        <activity
            android:name=".canciones"
            android:exported="false" />
        <activity
            android:name=".menu"
            android:exported="false" />
        <activity
            android:name=".crearCuenta"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".recuperarContrasena"
            android:exported="false" />
        <activity
            android:name=".principal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>